body{
     font-family: sans-serif;
}
table{
    border: 1px solid #ddd;
    padding: 5px;
    border-spacing: 5px;
}
td, th{
    padding: 7px;
}
tr:nth-child(even){
     background-color: #e6ebf4;
}
th{
    border-bottom: 3px solid #97b2de;
    text-transform: uppercase;
    font-size: .9em;
}
.acciones{
    font-size: .875em;
    text-align: center;
}
.acciones a{
    color: #33980d;
}
.errorf{
    color: red;
    font-size: 80%;
}
form p{
    margin: 0 0 10px 0;
    font-size: 1.2em;
    line-height: 25px;
}
input, textarea{
    font-size: 1.1em;
    border-radius: 5px;
}
select{
    font-size: 1.2em;
}
label{
    display: inline-block;
    width: 140px;
}
.personaje{
    padding: 20px;
    color: #ddd;
}
.personaje header{
    font-size: 1.4em;
}
.listaerrores{
    background-color: #fcc;
    color: red;
    padding: 10px 30px;
}
.listaerrores li{
    margin-bottom: 3px;
}